on:
  push:
  pull_request:
    types: [assigned, opened, synchronize, reopened]

name: Test
jobs:
  test:
    strategy:
      matrix:
        go: [1.13.x]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test unit
        env:
          LETS_CONFIG_DIR: ..
        run: go test ./... -v
      - name: Test bats
        env:
          LETS_NO_COLOR_OUTPUT: 1
        run: |
          git clone https://github.com/sstephenson/bats.git bats-repo
          cd bats-repo
          ./install.sh ../
          cd ..
          PATH=${PATH}:$(pwd)
          go build -o lets *.go
          ./bin/bats tests

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b ./bin v1.24.0
          ./bin/golangci-lint run -v -c .golang-ci.yaml
